In [5]:
import numpy as np
import os 
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
PROJECT_DIR = r'E:\Shayan Ali\Disk D\Learning\Data-Science-Mentorship-Program-main\Level 2\ML\Projects\flight_price_prediction'
DATA_DIR = 'data'

In [9]:
def get_data(name):
    file_name = f"{name}.csv"
    file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)
    return pd.read_csv(file_path)

In [19]:
flights = get_data('flight_price')

In [20]:
flights

           Airline Date_of_Journey  ... Additional_Info  Price
0           IndiGo      24/03/2019  ...         No info   3897
1        Air India       1/05/2019  ...         No info   7662
2      Jet Airways       9/06/2019  ...         No info  13882
3           IndiGo      12/05/2019  ...         No info   6218
4           IndiGo      01/03/2019  ...         No info  13302
...            ...             ...  ...             ...    ...
10678     Air Asia       9/04/2019  ...         No info   4107
10679    Air India      27/04/2019  ...         No info   4145
10680  Jet Airways      27/04/2019  ...         No info   7229
10681      Vistara      01/03/2019  ...         No info  12648
10682    Air India       9/05/2019  ...         No info  11753

[10683 rows x 11 columns]

In [21]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [22]:
flights.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object